// out: ../main.css
@import "vars"


.sl-navbar
  background $dark-blue
  padding: 0 !important

.sl-navbar-logo
  max-width $logo-max-width

.sl-nav
  background $dark-blue-shade
.sl-nav li
  padding-top: .25rem
  padding-bottom: .25rem

@media (min-width: 992px)
  .sl-navbar
    padding: .25rem 1rem !important
  .sl-nav
    background none
