// out: ../main.css
@import "vars"

p
  text-align justify
  line-height 1.5

.sl-navbar
  background $dark-blue
  padding: 0 !important
.sl-navbar-logo
  max-width $logo-max-width
.sl-nav
  background $dark-blue-shade
.sl-nav li
  padding-top: $sp-xsmall
  padding-bottom: $sp-xsmall

.sl-show-all
  display inline-block
  min-width 50%
  margin-top 2.5rem
  padding $sp-small
  text-align center

@media (min-width: 992px)
  .sl-navbar
    padding: $sp-xsmall $sp-xlarge !important
  .sl-nav
    background none
