// main: main.styl

// SIZES
$logo-max-width = 350px

$sp-xsmall = .25rem
$sp-small = .5rem
$sp-medium = 1rem
$sp-large = 1.5rem
$sp-xlarge = 2rem


// COLORS
$dark-blue = #191970
$dark-blue-shade = #101046
$light-gray = #F0F0F0
$white = #FFF
