.sl-navbar {
  background: #191970;
  padding: 0 !important;
}
.sl-navbar-logo {
  max-width: 350px;
}
.sl-nav {
  background: #101046;
}
.sl-nav li {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
@media (min-width: 992px) {
  .sl-navbar {
    padding: 0.25rem 1rem !important;
  }
  .sl-nav {
    background: none;
  }
}
