p {
  text-align: justify;
  line-height: 1.5;
}
.sl-navbar {
  background: #191970;
  padding: 0 !important;
}
.sl-navbar-logo {
  max-width: 350px;
}
.sl-nav {
  background: #101046;
}
.sl-nav li {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.sl-show-all {
  display: inline-block;
  min-width: 50%;
  margin-top: 2.5rem;
  padding: 0.5rem;
  text-align: center;
}
@media (min-width: 992px) {
  .sl-navbar {
    padding: 0.25rem 2rem !important;
  }
  .sl-nav {
    background: none;
  }
}
